/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* SCSS VARIABLES DECLARED HERE */  




/* CSS STYLES FOR PAGE */
html {
  font-size: 10px;
}

body {
font-family: 'Noto Sans HK', sans-serif;
margin: 0 20px;
padding: 0;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.site-header{
  display: flex;
  margin-bottom: 25px;
}

.logo {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  background: black;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
  padding: 13px 10px 10px 10px;
}

.site-nav {
  display: flex;
}

.site-nav-list {
  display: flex;
  border-bottom: solid 1px lightgray;
  font-size: 1.2rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-nav-item {
  margin: 10px 0px;
  border-right: solid 1px lightgray;
}

.site-nav-item a {
  padding: 0px 11px;
  display: inline-block;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.site-nav-item a:hover {
  text-decoration: underline;
}

.site-nav-item:last-child {
  border: none;
}

.site-search {
  background: #f1f1f1;
  display: flex;
  padding: 0px 10px;
  border-bottom: solid 1px black;
  align-items: center;
  justify-content: flex-start;
}

input {
  fill: none;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  width: 100%;
}

.fas {
  font-size: 2rem;
}

.site-search-item:first-child {
  color: darkgray;
}

.site-search-item:last-child {
  color: black;
}

.tab-nav {
  width: 100%;
  border-top: solid black 1px;
}

.tab-nav-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.tab-nav-list-item {
  display: flex;
  flex-grow: 1;
  background: #282e54;
  border-right: white 1px solid;
  font-size: 1.3rem;
  font-weight: 700;
}

.tab-nav-list-item:last-child {
  border: none;
}

.tab-nav-list-item a {
  display: inline-block;
  padding: 13px 30px;
  color: white;
  text-decoration: none;
}

/*---- Hover Styles ----*/

.tab-nav-list-item:hover {
  background: #f1f1f1;
}
.tab-nav-list-item a:hover {
  color: black;
  text-decoration: underline;
}


/*-----------------------*/

/*---- Sudo Active Styling ----*/

.active {
  background: #dfdfe6;
}

.active a {
  color:  #282e54;
}
/*----------------------------*/

/*---- Mega Menu ----*/

.mega-menu-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap; 
  flex
  width: 980px;
  top: -9999px;
  left: 0;
  padding: 20px;
  background: #f1f1f1;
  text-align: left;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.tab-nav-list-item:first-child:hover ul.mega-menu-list {
  top: 100%;
}

.mega-menu-title {
  border-bottom: solid 1px black;
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

ul.mega-menu-list h4 {
  color: black;
  font-weight: 200;
}
/*-------------------*/




.page-title {
  background: #f1f1f1;
  padding: 30px 0px 20px 0px;
  width: 100vw;
  position: relative;
  margin: 0 -50vw;
  left: 50%;
  right: 50%;
}

.large-title h1 {
  margin-bottom: 25PX;
}

.breadcrumb {
  margin-bottom: 40px;
}

.breadcrumb-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumb-list-item {
  padding-right: 15px;
  font-size: 1.4rem;
  color: #979797;
}

.breadcrumb-list-item a {
color: #979797;
text-decoration: none;
}


.social-share {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  align-content: baseline;
}

.social-share a {
  color: #1e56b9;
  text-decoration: none;
}

.fas.fa-share-alt {
  margin-right: 15px;
  margin-left: 15px;

}

.section-intro {
  margin-top: 15px;
  margin-bottom: 50px;
}

.intro-paragraph p {
margin-bottom: 15px;
}

article {
   margin: 0px 50px 100px 25px;
}

.report {
  display: flex;
}
.report-image {
  margin-right: 60px;
}

.report-description h2 {
  margin-bottom: 25px;
}

.report-description p {
  margin-bottom: 10px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  color: white;
  font-size: 1.5rem;
  background: #1e56b9;
  padding: 15px 15px;
  border: none;
  margin-top: 10px;
}

footer {
  background: black;
  padding: 20px 0px;
  width: 100vw;
  position: relative;
  margin: 0 -50vw;
  left: 50%;
  right: 50%;
}

.footer-nav-list {
  display: flex;
  padding: 0;
  margin-bottom: 30px;
}
.footer-nav-list-item {
  border-right: 1px solid white;
}

.footer-nav-list-item:last-child {
  border-right: none;
}

.footer-nav-list-item a{
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 15px 8px;
}

.footer-nav-list-item:first-child a {
  padding-left: 0px;
}

.social-media-list {
  display: flex;
  margin-bottom: 30px;
}

.fab {
  font-size: 2.5rem;
  padding: 0px 8px;
}

.fa-twitter-square {
  color: #82c7fd;
  padding-left: 0;
}

.fa-linkedin {
  color: #297dc6;
}

.fa-facebook-square {
  color: #1e4892;
}

.fa-youtube-square {
  color: #eb423a;
}

.legal-info p {
  color: white;
  margin-bottom: 15px;
}

